body {
  background-image: url("https://wallpapercave.com/wp/91HTO4K.jpg");
  background-size: cover;
}
.starting-Page {
  margin-left: auto;
  margin-right: auto;

  border: 2px solid black;
  max-width: 600px;
}

.starting-Page-Heading {
  text-align: center;
}

.animal-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 550px;
}

.starting-Page-Start {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 90%;
  padding: 10px;
}

.results-Choice {
  border: 1px solid black;
  background: #E1E1E1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selection-Button.Answer {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 90%;
  padding: 10px;
}

.question-Block {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  background-color: rgb(211,225,148);
}

.feedback {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  max-width: 600px;
}

.feedback p, button{
  font-size: 32px;
}

.submit-Button {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 20%;
  padding: 10px;
}

.report-Page {
  border: 2px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  background-color: rgb(211,225,148);
}

.reset-Button {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 20%;
  padding: 10px;
}

.question-Sentence {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

.question {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.correctAnswer {
  text-align: center;
  display: none;
}

.score {
  font-size: 48px;
  margin-bottom: 20px;
}

.score-Info {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  border-radius: 10px;
}

.score-text {
  text-align: center;
}

.start-Over {
  text-align: center;
  margin: 20px;
}

.start-Over-Button {
  font-size: 24px;
  padding: 20px;
}

.correct-Answer-Block {
  text-align: center;
}

.correct-Answer {
  background-color: green;
}

.incorrect-Answer {
  background-color: red;
}